In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("../Resources/eight_year_cycle.csv")
df.head()

,country_code,country_name,year,co2_normalized,merge_id,male_death_rate,female_death_rate,cigarette_sales,gdp_normalized,co2_emissions_-8,...,cigarette_sales_-2,cigarette_sales_-1,GDP_-8,GDP_-7,GDP_-6,GDP_-5,GDP_-4,GDP_-3,GDP_-2,GDP_-1
0,ARM,Armenia,1998,0.121883,ARM_1998,38.05,5.43,5.7,584.384267,0.697225,...,5.6,5.6,634.560413,572.161763,356.082212,347.466463,389.825287,441.894002,484.091641,501.156515
1,AUS,Australia,1968,0.017502,AUS_1968,45.00,5.74,8.8,2723.999484,0.011467,...,8.9,8.5,1810.510249,1877.509803,1854.552575,1967.014259,2131.277657,2280.902108,2343.706917,2579.986340
2,AUS,Australia,1969,0.018494,AUS_1969,46.75,5.66,8.9,2991.241889,0.011777,...,8.5,8.8,1877.509803,1854.552575,1967.014259,2131.277657,2280.902108,2343.706917,2579.986340,2723.999484
3,AUS,Australia,1970,0.019191,AUS_1970,47.79,7.18,9.1,3304.678667,0.012339,...,8.8,8.9,1854.552575,1967.014259,2131.277657,2280.902108,2343.706917,2579.986340,2723.999484,2991.241889
4,AUS,Australia,1971,0.019861,AUS_1971,49.28,7.53,8.9,3494.973309,0.013134,...,8.9,9.1,1967.014259,2131.277657,2280.902108,2343.706917,2579.986340,2723.999484,2991.241889,3304.678667

In [5]:
df = df.drop(columns=['country_code', 'merge_id'])
df.columns

Index(['country_name', 'year', 'co2_normalized', 'male_death_rate',
       'female_death_rate', 'cigarette_sales', 'gdp_normalized',
       'co2_emissions_-8', 'co2_emissions_-7', 'co2_emissions_-6',
       'co2_emissions_-5', 'co2_emissions_-4', 'co2_emissions_-3',
       'co2_emissions_-2', 'co2_emissions_-1', 'cigarette_sales_-8',
       'cigarette_sales_-7', 'cigarette_sales_-6', 'cigarette_sales_-5',
       'cigarette_sales_-4', 'cigarette_sales_-3', 'cigarette_sales_-2',
       'cigarette_sales_-1', 'GDP_-8', 'GDP_-7', 'GDP_-6', 'GDP_-5', 'GDP_-4',
       'GDP_-3', 'GDP_-2', 'GDP_-1'],
      dtype='object')

In [3]:
df = df.drop(columns = ['GDP_-8', 'GDP_-7', 'GDP_-6', 'GDP_-5', 'GDP_-4',
       'GDP_-3', 'GDP_-2', 'GDP_-1'])

In [6]:
df.dtypes

country_name           object
year                    int64
co2_normalized        float64
male_death_rate       float64
female_death_rate     float64
cigarette_sales       float64
gdp_normalized        float64
co2_emissions_-8      float64
co2_emissions_-7      float64
co2_emissions_-6      float64
co2_emissions_-5      float64
co2_emissions_-4      float64
co2_emissions_-3      float64
co2_emissions_-2      float64
co2_emissions_-1      float64
cigarette_sales_-8    float64
cigarette_sales_-7    float64
cigarette_sales_-6    float64
cigarette_sales_-5    float64
cigarette_sales_-4    float64
cigarette_sales_-3    float64
cigarette_sales_-2    float64
cigarette_sales_-1    float64
GDP_-8                float64
GDP_-7                float64
GDP_-6                float64
GDP_-5                float64
GDP_-4                float64
GDP_-3                float64
GDP_-2                float64
GDP_-1                float64
dtype: object

In [7]:
dummies = pd.get_dummies(df['country_name'])
merged_df = pd.merge(df, dummies, left_index=True, right_index=True)
merged_df = merged_df.drop(columns='country_name')
merged_df

,year,co2_normalized,male_death_rate,female_death_rate,cigarette_sales,gdp_normalized,co2_emissions_-8,co2_emissions_-7,co2_emissions_-6,co2_emissions_-5,...,Portugal,Romania,Russian Federation,Slovak Republic,Slovenia,Spain,Sweden,Switzerland,United Kingdom,United States
0,1998,0.121883,38.05,5.43,5.7,584.384267,0.697225,0.726730,0.382859,0.177028,...,0,0,0,0,0,0,0,0,0,0
1,1968,0.017502,45.00,5.74,8.8,2723.999484,0.011467,0.011777,0.012339,0.013134,...,0,0,0,0,0,0,0,0,0,0
2,1969,0.018494,46.75,5.66,8.9,2991.241889,0.011777,0.012339,0.013134,0.014168,...,0,0,0,0,0,0,0,0,0,0
3,1970,0.019191,47.79,7.18,9.1,3304.678667,0.012339,0.013134,0.014168,0.015726,...,0,0,0,0,0,0,0,0,0,0
4,1971,0.019861,49.28,7.53,8.9,3494.973309,0.013134,0.014168,0.015726,0.015644,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,2010,0.589468,40.85,26.54,3.6,48650.758075,0.611432,0.618643,0.627312,0.628974,...,0,0,0,0,0,0,0,0,0,1
1253,2011,0.565580,39.27,25.81,3.5,50065.876246,0.618643,0.627312,0.628974,0.617997,...,0,0,0,0,0,0,0,0,0,1
1254,2012,0.541799,38.15,25.49,3.5,51784.507048,0.627312,0.628974,0.617997,0.627097,...,0,0,0,0,0,0,0,0,0,1
1255,2013,0.556671,36.62,24.83,3.3,53291.156187,0.628974,0.617997,0.627097,0.607645,...,0,0,0,0,0,0,0,0,0,1
1256,2014,0.558322,35.31,24.29,3.2,55123.912057,0.617997,0.627097,0.607645,0.563703,...,0,0,0,0,0,0,0,0,0,1

In [17]:
df['country_name'].values.reshape(-1,1)

array([['Armenia'],
       ['Australia'],
       ['Australia'],
       ...,
       ['United States'],
       ['United States'],
       ['United States']], dtype=object)

In [34]:
cat_var = df.dtypes[df.dtypes == 'object'].index.tolist()
cat_var

['country_name']

In [35]:
# # Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# # Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat_var]))
encode_df

# # # Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(cat_var)
encode_df.head()

/Users/mattzabriskie/miniconda3/envs/mlenv_forge/lib/python3.8/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,country_name_Armenia,country_name_Australia,country_name_Austria,country_name_Azerbaijan,country_name_Belarus,country_name_Belgium,country_name_Bulgaria,country_name_Canada,country_name_Croatia,country_name_Czechia,...,country_name_Portugal,country_name_Romania,country_name_Russian Federation,country_name_Slovak Republic,country_name_Slovenia,country_name_Spain,country_name_Sweden,country_name_Switzerland,country_name_United Kingdom,country_name_United States
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
# # Merge one-hot encoded features and drop the originals
df = df.merge(encode_df, left_index=True, right_index=True).drop(columns=cat_var)
df

,year,co2_normalized,male_death_rate,female_death_rate,cigarette_sales,gdp_normalized,co2_emissions_-8,co2_emissions_-7,co2_emissions_-6,co2_emissions_-5,...,country_name_Portugal,country_name_Romania,country_name_Russian Federation,country_name_Slovak Republic,country_name_Slovenia,country_name_Spain,country_name_Sweden,country_name_Switzerland,country_name_United Kingdom,country_name_United States
0,1998,0.121883,38.05,5.43,5.7,584.384267,0.697225,0.726730,0.382859,0.177028,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1968,0.017502,45.00,5.74,8.8,2723.999484,0.011467,0.011777,0.012339,0.013134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1969,0.018494,46.75,5.66,8.9,2991.241889,0.011777,0.012339,0.013134,0.014168,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1970,0.019191,47.79,7.18,9.1,3304.678667,0.012339,0.013134,0.014168,0.015726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1971,0.019861,49.28,7.53,8.9,3494.973309,0.013134,0.014168,0.015726,0.015644,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252,2010,0.589468,40.85,26.54,3.6,48650.758075,0.611432,0.618643,0.627312,0.628974,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1253,2011,0.565580,39.27,25.81,3.5,50065.876246,0.618643,0.627312,0.628974,0.617997,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1254,2012,0.541799,38.15,25.49,3.5,51784.507048,0.627312,0.628974,0.617997,0.627097,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1255,2013,0.556671,36.62,24.83,3.3,53291.156187,0.628974,0.617997,0.627097,0.607645,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1256,2014,0.558322,35.31,24.29,3.2,55123.912057,0.617997,0.627097,0.607645,0.563703,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [37]:
# Split our preprocessed data into our features and target arrays
y = (merged_df['male_death_rate'] + df['female_death_rate']) /2 
X = merged_df.drop(columns=['male_death_rate', 'female_death_rate'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [38]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [39]:
len(X.columns)

70

In [50]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X.columns)
hidden_nodes_layer1 = 128
hidden_nodes_layer2 = 64

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu")
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation="relu")
)

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 128)               9088

 dense_9 (Dense)             (None, 64)                8256

 dense_10 (Dense)            (None, 1)                 65

=================================================================
Total params: 17,409
Trainable params: 17,409
Non-trainable params: 0
_________________________________________________________________

In [51]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [52]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# create callback to saves weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq= int(len(X_train)/32*5))

In [53]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100,callbacks=[cp_callback])

Epoch 1/100
30/30 [==============================] - 0s 486us/step - loss: -380.1804 - accuracy: 0.0000e+00
Epoch 2/100
30/30 [==============================] - 0s 503us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 3/100
30/30 [==============================] - 0s 480us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 4/100
30/30 [==============================] - 0s 446us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 5/100
 1/30 [>.............................] - ETA: 0s - loss: -465.1494 - accuracy: 0.0000e+00
Epoch 5: saving model to checkpoints/weights.05.hdf5
30/30 [==============================] - 0s 707us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 6/100
30/30 [==============================] - 0s 426us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 7/100
30/30 [==============================] - 0s 422us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 8/100
30/30 [==============================] - 0s 419us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 9/100
30/30 [==============================] - 0s 418us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 10/100
 1/30 [>.............................] - ETA: 0s - loss: -434.0195 - accuracy: 0.0000e+00
Epoch 10: saving model to checkpoints/weights.10.hdf5
30/30 [==============================] - 0s 910us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 11/100
30/30 [==============================] - 0s 460us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 12/100
30/30 [==============================] - 0s 472us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 13/100
30/30 [==============================] - 0s 428us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 14/100
30/30 [==============================] - 0s 406us/step - loss: -457.5042 - accuracy: 0.0000e+00
Epoch 15/100
 1/30 [>.............................] - ETA: 0s - loss: -393.4184 - accuracy: 0.0000e+00
Epoch 15: saving model to checkpoints/weights.15.hdf5
30/30 [==============================] - 0s 547us/step - loss: -457.5042 - accuracy: 0.0000e+00
Epoch 16/100
30/30 [==============================] - 0s 428us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 17/100
30/30 [==============================] - 0s 423us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 18/100
30/30 [==============================] - 0s 420us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 19/100
30/30 [==============================] - 0s 429us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 20/100
 1/30 [>.............................] - ETA: 0s - loss: -430.1310 - accuracy: 0.0000e+00
Epoch 20: saving model to checkpoints/weights.20.hdf5
30/30 [==============================] - 0s 527us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 21/100
30/30 [==============================] - 0s 416us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 22/100
30/30 [==============================] - 0s 424us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 23/100
30/30 [==============================] - 0s 1ms/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 24/100
30/30 [==============================] - 0s 452us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 25/100
 1/30 [>.............................] - ETA: 0s - loss: -516.7252 - accuracy: 0.0000e+00
Epoch 25: saving model to checkpoints/weights.25.hdf5
30/30 [==============================] - 0s 550us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 26/100
30/30 [==============================] - 0s 437us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 27/100
30/30 [==============================] - 0s 404us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 28/100
30/30 [==============================] - 0s 440us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 29/100
30/30 [==============================] - 0s 430us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 30/100
 1/30 [>.............................] - ETA: 0s - loss: -431.6750 - accuracy: 0.0000e+00
Epoch 30: saving model to checkpoints/weights.30.hdf5
30/30 [==============================] - 0s 778us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 31/100
30/30 [==============================] - 0s 423us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 32/100
30/30 [==============================] - 0s 425us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 33/100
30/30 [==============================] - 0s 430us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 34/100
30/30 [==============================] - 0s 446us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 35/100
 1/30 [>.............................] - ETA: 0s - loss: -490.8063 - accuracy: 0.0000e+00
Epoch 35: saving model to checkpoints/weights.35.hdf5
30/30 [==============================] - 0s 545us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 36/100
30/30 [==============================] - 0s 423us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 37/100
30/30 [==============================] - 0s 426us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 38/100
30/30 [==============================] - 0s 459us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 39/100
30/30 [==============================] - 0s 443us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 40/100
 1/30 [>.............................] - ETA: 0s - loss: -458.5851 - accuracy: 0.0000e+00
Epoch 40: saving model to checkpoints/weights.40.hdf5
30/30 [==============================] - 0s 567us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 41/100
30/30 [==============================] - 0s 453us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 42/100
30/30 [==============================] - 0s 418us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 43/100
30/30 [==============================] - 0s 429us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 44/100
30/30 [==============================] - 0s 445us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 45/100
 1/30 [>.............................] - ETA: 0s - loss: -448.4610 - accuracy: 0.0000e+00
Epoch 45: saving model to checkpoints/weights.45.hdf5
30/30 [==============================] - 0s 582us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 46/100
30/30 [==============================] - 0s 1ms/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 47/100
30/30 [==============================] - 0s 635us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 48/100
30/30 [==============================] - 0s 436us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 49/100
 1/30 [>.............................] - ETA: 0s - loss: -459.0855 - accuracy: 0.0000e+00
Epoch 49: saving model to checkpoints/weights.49.hdf5
30/30 [==============================] - 0s 802us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 50/100
30/30 [==============================] - 0s 408us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 51/100
30/30 [==============================] - 0s 419us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 52/100
30/30 [==============================] - 0s 406us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 53/100
30/30 [==============================] - 0s 430us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 54/100
 1/30 [>.............................] - ETA: 0s - loss: -427.4171 - accuracy: 0.0000e+00
Epoch 54: saving model to checkpoints/weights.54.hdf5
30/30 [==============================] - 0s 588us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 55/100
30/30 [==============================] - 0s 408us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 56/100
30/30 [==============================] - 0s 398us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 57/100
30/30 [==============================] - 0s 410us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 58/100
30/30 [==============================] - 0s 395us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 59/100
 1/30 [>.............................] - ETA: 0s - loss: -459.7907 - accuracy: 0.0000e+00
Epoch 59: saving model to checkpoints/weights.59.hdf5
30/30 [==============================] - 0s 556us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 60/100
30/30 [==============================] - 0s 417us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 61/100
30/30 [==============================] - 0s 408us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 62/100
30/30 [==============================] - 0s 412us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 63/100
30/30 [==============================] - 0s 404us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 64/100
 1/30 [>.............................] - ETA: 0s - loss: -408.5795 - accuracy: 0.0000e+00
Epoch 64: saving model to checkpoints/weights.64.hdf5
30/30 [==============================] - 0s 541us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 65/100
30/30 [==============================] - 0s 386us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 66/100
30/30 [==============================] - 0s 577us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 67/100
30/30 [==============================] - 0s 483us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 68/100
30/30 [==============================] - 0s 407us/step - loss: -457.5042 - accuracy: 0.0000e+00
Epoch 69/100
 1/30 [>.............................] - ETA: 0s - loss: -462.3450 - accuracy: 0.0000e+00
Epoch 69: saving model to checkpoints/weights.69.hdf5
30/30 [==============================] - 0s 569us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 70/100
30/30 [==============================] - 0s 413us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 71/100
30/30 [==============================] - 0s 974us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 72/100
30/30 [==============================] - 0s 595us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 73/100
30/30 [==============================] - 0s 444us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 74/100
 1/30 [>.............................] - ETA: 0s - loss: -484.8066 - accuracy: 0.0000e+00
Epoch 74: saving model to checkpoints/weights.74.hdf5
30/30 [==============================] - 0s 594us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 75/100
30/30 [==============================] - 0s 436us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 76/100
30/30 [==============================] - 0s 445us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 77/100
30/30 [==============================] - 0s 428us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 78/100
30/30 [==============================] - 0s 421us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 79/100
 1/30 [>.............................] - ETA: 0s - loss: -480.3510 - accuracy: 0.0000e+00
Epoch 79: saving model to checkpoints/weights.79.hdf5
30/30 [==============================] - 0s 574us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 80/100
30/30 [==============================] - 0s 414us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 81/100
30/30 [==============================] - 0s 429us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 82/100
30/30 [==============================] - 0s 452us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 83/100
30/30 [==============================] - 0s 446us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 84/100
 1/30 [>.............................] - ETA: 0s - loss: -454.0604 - accuracy: 0.0000e+00
Epoch 84: saving model to checkpoints/weights.84.hdf5
30/30 [==============================] - 0s 903us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 85/100
30/30 [==============================] - 0s 830us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 86/100
30/30 [==============================] - 0s 435us/step - loss: -457.5042 - accuracy: 0.0000e+00
Epoch 87/100
30/30 [==============================] - 0s 703us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 88/100
30/30 [==============================] - 0s 428us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 89/100
 1/30 [>.............................] - ETA: 0s - loss: -465.1065 - accuracy: 0.0000e+00
Epoch 89: saving model to checkpoints/weights.89.hdf5
30/30 [==============================] - 0s 548us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 90/100
30/30 [==============================] - 0s 430us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 91/100
30/30 [==============================] - 0s 431us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 92/100
30/30 [==============================] - 0s 400us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 93/100
30/30 [==============================] - 0s 433us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 94/100
 1/30 [>.............................] - ETA: 0s - loss: -452.2877 - accuracy: 0.0000e+00
Epoch 94: saving model to checkpoints/weights.94.hdf5
30/30 [==============================] - 0s 530us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 95/100
30/30 [==============================] - 0s 408us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 96/100
30/30 [==============================] - 0s 436us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 97/100
30/30 [==============================] - 0s 417us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 98/100
 1/30 [>.............................] - ETA: 0s - loss: -455.4876 - accuracy: 0.0000e+00
Epoch 98: saving model to checkpoints/weights.98.hdf5
30/30 [==============================] - 0s 555us/step - loss: -457.5044 - accuracy: 0.0000e+00
Epoch 99/100
30/30 [==============================] - 0s 412us/step - loss: -457.5043 - accuracy: 0.0000e+00
Epoch 100/100
30/30 [==============================] - 0s 395us/step - loss: -457.5043 - accuracy: 0.0000e+00

In [44]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

10/10 - 0s - loss: -4.4522e+02 - accuracy: 0.0000e+00 - 69ms/epoch - 7ms/step
Loss: -445.22064208984375, Accuracy: 0.0

In [28]:
# Export our model to HDF5 file
# nn.save("AlphabetSoupCharity.h5")