In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("../Resources/DataWMinGPDPop.csv")
df.head()

,country_code,country_name,year,co2_emissions,merge_id,male_death_rate,female_death_rate,cigarette_sales,land_area,Country Name,Country Code,Year,GDP,population
0,ARM,Armenia,1990,19850.0,ARM_1990,51.36,7.40,11.9,28470.0,Armenia,ARM,1990,2.256839e+09,3556539.0
1,ARM,Armenia,1991,20690.0,ARM_1991,49.99,6.01,9.3,28470.0,Armenia,ARM,1991,2.069870e+09,3617631.0
2,ARM,Armenia,1992,10900.0,ARM_1992,45.04,7.44,4.9,28470.0,Armenia,ARM,1992,1.272835e+09,3574555.0
3,ARM,Armenia,1993,5040.0,ARM_1993,40.77,6.69,5.5,28470.0,Armenia,ARM,1993,1.201313e+09,3457349.0
4,ARM,Armenia,1994,2740.0,ARM_1994,36.68,5.89,5.7,28470.0,Armenia,ARM,1994,1.315159e+09,3373713.0

In [2]:
df = df.drop(columns=['country_code', 'merge_id', 'Country Name', 'Country Code', 'Year'])
df.columns

Index(['country_name', 'year', 'co2_emissions', 'male_death_rate',
       'female_death_rate', 'cigarette_sales', 'land_area', 'GDP',
       'population'],
      dtype='object')

In [3]:
df = df.drop(columns = ['GDP_-8', 'GDP_-7', 'GDP_-6', 'GDP_-5', 'GDP_-4',
       'GDP_-3', 'GDP_-2', 'GDP_-1'])

In [3]:
df.dtypes

country_name          object
year                   int64
co2_emissions        float64
male_death_rate      float64
female_death_rate    float64
cigarette_sales      float64
land_area            float64
GDP                  float64
population           float64
dtype: object

In [4]:
dummies = pd.get_dummies(df['country_name'])
merged_df = pd.merge(df, dummies, left_index=True, right_index=True)
merged_df = merged_df.drop(columns='country_name')
merged_df

,year,co2_emissions,male_death_rate,female_death_rate,cigarette_sales,land_area,GDP,population,Armenia,Australia,...,Portugal,Romania,Russian Federation,Slovak Republic,Slovenia,Spain,Sweden,Switzerland,United Kingdom,United States
0,1990,1.985000e+04,51.36,7.40,11.9,28470.0,2.256839e+09,3556539.0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1991,2.069000e+04,49.99,6.01,9.3,28470.0,2.069870e+09,3617631.0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1992,1.090000e+04,45.04,7.44,4.9,28470.0,1.272835e+09,3574555.0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1993,5.040000e+03,40.77,6.69,5.5,28470.0,1.201313e+09,3457349.0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1994,2.740000e+03,36.68,5.89,5.7,28470.0,1.315159e+09,3373713.0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1588,2010,5.392110e+06,40.85,26.54,3.6,9147420.0,1.504900e+13,309327143.0,0,0,...,0,0,0,0,0,0,0,0,0,1
1589,2011,5.173600e+06,39.27,25.81,3.5,9147420.0,1.559970e+13,311583481.0,0,0,...,0,0,0,0,0,0,0,0,0,1
1590,2012,4.956060e+06,38.15,25.49,3.5,9147420.0,1.625400e+13,313877662.0,0,0,...,0,0,0,0,0,0,0,0,0,1
1591,2013,5.092100e+06,36.62,24.83,3.3,9147420.0,1.684320e+13,316059947.0,0,0,...,0,0,0,0,0,0,0,0,0,1
1592,2014,5.107210e+06,35.31,24.29,3.2,9147420.0,1.755070e+13,318386329.0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [5]:
df['country_name'].values.reshape(-1,1)

array([['Armenia'],
       ['Armenia'],
       ['Armenia'],
       ...,
       ['United States'],
       ['United States'],
       ['United States']], dtype=object)

In [6]:
cat_var = df.dtypes[df.dtypes == 'object'].index.tolist()
cat_var

['country_name']

In [7]:
# # Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# # Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat_var]))
encode_df

# # # Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(cat_var)
encode_df.head()

/Users/mattzabriskie/miniconda3/envs/mlenv_forge/lib/python3.8/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,country_name_Armenia,country_name_Australia,country_name_Austria,country_name_Azerbaijan,country_name_Belarus,country_name_Belgium,country_name_Bulgaria,country_name_Canada,country_name_Croatia,country_name_Czechia,...,country_name_Portugal,country_name_Romania,country_name_Russian Federation,country_name_Slovak Republic,country_name_Slovenia,country_name_Spain,country_name_Sweden,country_name_Switzerland,country_name_United Kingdom,country_name_United States
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# # Merge one-hot encoded features and drop the originals
df = df.merge(encode_df, left_index=True, right_index=True).drop(columns=cat_var)
df

,year,co2_emissions,male_death_rate,female_death_rate,cigarette_sales,land_area,GDP,population,country_name_Armenia,country_name_Australia,...,country_name_Portugal,country_name_Romania,country_name_Russian Federation,country_name_Slovak Republic,country_name_Slovenia,country_name_Spain,country_name_Sweden,country_name_Switzerland,country_name_United Kingdom,country_name_United States
0,1990,1.985000e+04,51.36,7.40,11.9,28470.0,2.256839e+09,3556539.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1991,2.069000e+04,49.99,6.01,9.3,28470.0,2.069870e+09,3617631.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1992,1.090000e+04,45.04,7.44,4.9,28470.0,1.272835e+09,3574555.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1993,5.040000e+03,40.77,6.69,5.5,28470.0,1.201313e+09,3457349.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1994,2.740000e+03,36.68,5.89,5.7,28470.0,1.315159e+09,3373713.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1588,2010,5.392110e+06,40.85,26.54,3.6,9147420.0,1.504900e+13,309327143.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1589,2011,5.173600e+06,39.27,25.81,3.5,9147420.0,1.559970e+13,311583481.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1590,2012,4.956060e+06,38.15,25.49,3.5,9147420.0,1.625400e+13,313877662.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1591,2013,5.092100e+06,36.62,24.83,3.3,9147420.0,1.684320e+13,316059947.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1592,2014,5.107210e+06,35.31,24.29,3.2,9147420.0,1.755070e+13,318386329.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [9]:
# Split our preprocessed data into our features and target arrays
y = (merged_df['male_death_rate'] + df['female_death_rate']) /2 
X = merged_df.drop(columns=['male_death_rate', 'female_death_rate'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
X_train_scaled

array([[ 0.3362221 , -0.33533312, -0.29358768, ..., -0.17882745,
        -0.18130629, -0.17882745],
       [-0.31888427, -0.38741176,  0.36553546, ..., -0.17882745,
        -0.18130629, -0.17882745],
       [ 0.99132846, -0.34411441,  0.75002376, ..., -0.17882745,
        -0.18130629, -0.17882745],
       ...,
       [-1.23603319,  0.09722204, -0.34851454, ..., -0.17882745,
        -0.18130629, -0.17882745],
       [-0.58092682, -0.34225265,  1.0795852 , ...,  5.59198268,
        -0.18130629, -0.17882745],
       [ 1.0568391 , -0.25501841,  0.25568147, ..., -0.17882745,
        -0.18130629, -0.17882745]])

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X.columns)
hidden_nodes_layer1 = 128
hidden_nodes_layer2 = 64

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu")
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation="relu")
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               6272

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 14,593
Trainable params: 14,593
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# create callback to saves weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq= int(len(X_train)/32*5))

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100,callbacks=[cp_callback])

Epoch 1/100

2023-04-10 21:15:28.031401: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

38/38 [==============================] - 0s 563us/step - loss: -363.7765 - accuracy: 0.0000e+00
Epoch 2/100
38/38 [==============================] - 0s 460us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 3/100
38/38 [==============================] - 0s 433us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 4/100
38/38 [==============================] - 0s 421us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 5/100
 1/38 [..............................] - ETA: 0s - loss: -464.6348 - accuracy: 0.0000e+00
Epoch 5: saving model to checkpoints/weights.05.hdf5
38/38 [==============================] - 0s 627us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 6/100
38/38 [==============================] - 0s 515us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 7/100
38/38 [==============================] - 0s 422us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 8/100
38/38 [==============================] - 0s 423us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 9/100
38/38 [==============================] - 0s 413us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 10/100
 1/38 [..............................] - ETA: 0s - loss: -427.3575 - accuracy: 0.0000e+00
Epoch 10: saving model to checkpoints/weights.10.hdf5
38/38 [==============================] - 0s 803us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 11/100
38/38 [==============================] - 0s 741us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 12/100
38/38 [==============================] - 0s 414us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 13/100
38/38 [==============================] - 0s 406us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 14/100
38/38 [==============================] - 0s 403us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 15/100
 1/38 [..............................] - ETA: 0s - loss: -443.8600 - accuracy: 0.0000e+00
Epoch 15: saving model to checkpoints/weights.15.hdf5
38/38 [==============================] - 0s 527us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 16/100
38/38 [==============================] - 0s 522us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 17/100
38/38 [==============================] - 0s 495us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 18/100
38/38 [==============================] - 0s 405us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 19/100
38/38 [==============================] - 0s 394us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 20/100
 1/38 [..............................] - ETA: 0s - loss: -480.5344 - accuracy: 0.0000e+00
Epoch 20: saving model to checkpoints/weights.20.hdf5
38/38 [==============================] - 0s 505us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 21/100
38/38 [==============================] - 0s 414us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 22/100
38/38 [==============================] - 0s 413us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 23/100
38/38 [==============================] - 0s 417us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 24/100
38/38 [==============================] - 0s 401us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 25/100
 1/38 [..............................] - ETA: 0s - loss: -438.4609 - accuracy: 0.0000e+00
Epoch 25: saving model to checkpoints/weights.25.hdf5
38/38 [==============================] - 0s 503us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 26/100
38/38 [==============================] - 0s 403us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 27/100
38/38 [==============================] - 0s 413us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 28/100
38/38 [==============================] - 0s 418us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 29/100
38/38 [==============================] - 0s 396us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 30/100
 1/38 [..............................] - ETA: 0s - loss: -459.5834 - accuracy: 0.0000e+00
Epoch 30: saving model to checkpoints/weights.30.hdf5
38/38 [==============================] - 0s 504us/step - loss: -435.2883 - accuracy: 0.0000e+00
Epoch 31/100
38/38 [==============================] - 0s 392us/step - loss: -435.2883 - accuracy: 0.0000e+00
Epoch 32/100
38/38 [==============================] - 0s 406us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 33/100
38/38 [==============================] - 0s 406us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 34/100
38/38 [==============================] - 0s 394us/step - loss: -435.2883 - accuracy: 0.0000e+00
Epoch 35/100
 1/38 [..............................] - ETA: 0s - loss: -408.2197 - accuracy: 0.0000e+00
Epoch 35: saving model to checkpoints/weights.35.hdf5
38/38 [==============================] - 0s 1ms/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 36/100
38/38 [==============================] - 0s 460us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 37/100
38/38 [==============================] - 0s 397us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 38/100
38/38 [==============================] - 0s 418us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 39/100
38/38 [==============================] - 0s 392us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 40/100
 1/38 [..............................] - ETA: 0s - loss: -455.5281 - accuracy: 0.0000e+00
Epoch 40: saving model to checkpoints/weights.40.hdf5
38/38 [==============================] - 0s 520us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 41/100
38/38 [==============================] - 0s 404us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 42/100
38/38 [==============================] - 0s 404us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 43/100
38/38 [==============================] - 0s 413us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 44/100
38/38 [==============================] - 0s 404us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 45/100
 1/38 [..............................] - ETA: 0s - loss: -442.5210 - accuracy: 0.0000e+00
Epoch 45: saving model to checkpoints/weights.45.hdf5
38/38 [==============================] - 0s 486us/step - loss: -435.2883 - accuracy: 0.0000e+00
Epoch 46/100
38/38 [==============================] - 0s 409us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 47/100
38/38 [==============================] - 0s 425us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 48/100
38/38 [==============================] - 0s 401us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 49/100
 1/38 [..............................] - ETA: 0s - loss: -424.3029 - accuracy: 0.0000e+00
Epoch 49: saving model to checkpoints/weights.49.hdf5
38/38 [==============================] - 0s 503us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 50/100
38/38 [==============================] - 0s 385us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 51/100
38/38 [==============================] - 0s 396us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 52/100
38/38 [==============================] - 0s 391us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 53/100
38/38 [==============================] - 0s 699us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 54/100
 1/38 [..............................] - ETA: 0s - loss: -354.3327 - accuracy: 0.0000e+00
Epoch 54: saving model to checkpoints/weights.54.hdf5
38/38 [==============================] - 0s 498us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 55/100
38/38 [==============================] - 0s 408us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 56/100
38/38 [==============================] - 0s 407us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 57/100
38/38 [==============================] - 0s 415us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 58/100
38/38 [==============================] - 0s 1ms/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 59/100
 1/38 [..............................] - ETA: 0s - loss: -406.4113 - accuracy: 0.0000e+00
Epoch 59: saving model to checkpoints/weights.59.hdf5
38/38 [==============================] - 0s 511us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 60/100
38/38 [==============================] - 0s 424us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 61/100
38/38 [==============================] - 0s 418us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 62/100
38/38 [==============================] - 0s 446us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 63/100
38/38 [==============================] - 0s 412us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 64/100
 1/38 [..............................] - ETA: 0s - loss: -400.9239 - accuracy: 0.0000e+00
Epoch 64: saving model to checkpoints/weights.64.hdf5
38/38 [==============================] - 0s 509us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 65/100
38/38 [==============================] - 0s 417us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 66/100
38/38 [==============================] - 0s 396us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 67/100
38/38 [==============================] - 0s 417us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 68/100
38/38 [==============================] - 0s 446us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 69/100
 1/38 [..............................] - ETA: 0s - loss: -454.1819 - accuracy: 0.0000e+00
Epoch 69: saving model to checkpoints/weights.69.hdf5
38/38 [==============================] - 0s 508us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 70/100
38/38 [==============================] - 0s 403us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 71/100
38/38 [==============================] - 0s 413us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 72/100
38/38 [==============================] - 0s 409us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 73/100
38/38 [==============================] - 0s 425us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 74/100
 1/38 [..............................] - ETA: 0s - loss: -440.7006 - accuracy: 0.0000e+00
Epoch 74: saving model to checkpoints/weights.74.hdf5
38/38 [==============================] - 0s 548us/step - loss: -435.2883 - accuracy: 0.0000e+00
Epoch 75/100
38/38 [==============================] - 0s 474us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 76/100
38/38 [==============================] - 0s 511us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 77/100
38/38 [==============================] - 0s 436us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 78/100
38/38 [==============================] - 0s 414us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 79/100
 1/38 [..............................] - ETA: 0s - loss: -460.4912 - accuracy: 0.0000e+00
Epoch 79: saving model to checkpoints/weights.79.hdf5
38/38 [==============================] - 0s 1ms/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 80/100
38/38 [==============================] - 0s 421us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 81/100
38/38 [==============================] - 0s 395us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 82/100
38/38 [==============================] - 0s 404us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 83/100
38/38 [==============================] - 0s 415us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 84/100
 1/38 [..............................] - ETA: 0s - loss: -433.8170 - accuracy: 0.0000e+00
Epoch 84: saving model to checkpoints/weights.84.hdf5
38/38 [==============================] - 0s 495us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 85/100
38/38 [==============================] - 0s 401us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 86/100
38/38 [==============================] - 0s 419us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 87/100
38/38 [==============================] - 0s 408us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 88/100
38/38 [==============================] - 0s 406us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 89/100
 1/38 [..............................] - ETA: 0s - loss: -435.4015 - accuracy: 0.0000e+00
Epoch 89: saving model to checkpoints/weights.89.hdf5
38/38 [==============================] - 0s 484us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 90/100
38/38 [==============================] - 0s 390us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 91/100
38/38 [==============================] - 0s 426us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 92/100
38/38 [==============================] - 0s 403us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 93/100
 1/38 [..............................] - ETA: 0s - loss: -453.7530 - accuracy: 0.0000e+00
Epoch 93: saving model to checkpoints/weights.93.hdf5
38/38 [==============================] - 0s 498us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 94/100
38/38 [==============================] - 0s 401us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 95/100
38/38 [==============================] - 0s 391us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 96/100
38/38 [==============================] - 0s 398us/step - loss: -435.2885 - accuracy: 0.0000e+00
Epoch 97/100
38/38 [==============================] - 0s 402us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 98/100
 1/38 [..............................] - ETA: 0s - loss: -415.5417 - accuracy: 0.0000e+00
Epoch 98: saving model to checkpoints/weights.98.hdf5
38/38 [==============================] - 0s 491us/step - loss: -435.2883 - accuracy: 0.0000e+00
Epoch 99/100
38/38 [==============================] - 0s 402us/step - loss: -435.2884 - accuracy: 0.0000e+00
Epoch 100/100
38/38 [==============================] - 0s 395us/step - loss: -435.2884 - accuracy: 0.0000e+00

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: -4.3796e+02 - accuracy: 0.0000e+00 - 71ms/epoch - 5ms/step
Loss: -437.9598083496094, Accuracy: 0.0

In [28]:
# Export our model to HDF5 file
# nn.save("AlphabetSoupCharity.h5")